@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,200;1,300;1,600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}

body{
    background-color: #e0f5f8de;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: #333;
    font-size: 25px;
}

header .navbar a{
    font-size: 20px;
    color: #666;
    margin-left: 20px;
}

header .navbar a:hover{
    color: #999;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 9%;
    position: relative;
    overflow: hidden;
}

.container .content{
    flex: 1 1 400px;
}

.container .image{
    flex: 1 1 500px;
    position: relative;
}

.container .image .shoes{
    height: 550px;
    width: 550px;
    margin-top: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.container .image .shoes.active{
    display: initial;
}

.container .image .shoes:hover{
    transform: scale(1.123);
    cursor: pointer;
}

.container .content h3{
    color: #333;
    font-size: 50px;
}

.container .content p{
    color: #666;
    font-size: 17px;
    padding: 20px 0%;
}

.container .content .btn{
    display: inline-block;
    margin-top: 10px;
    font-size: 17px;
    padding: 9px 40px;
    background-color: #333;
    color: #fff;
}

.container .content .btn:hover{
    filter: brightness(0.5);
}

.container .left,
.container .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border: 2px solid #333;
    color: #333;
    line-height: 45px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

.container .left{
    left: 30px;
}

.container .right{
    right: 30px;
}

.container .left:hover,
.container .right:hover{
    background-color: #333;
    color: #fff;
}